@use "../../styles/variable.module.scss" as var;

@keyframes ldio-2aef71t07an {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.ldio-2aef71t07an div {
    left: 9.4rem;
    top: 4.8rem;
    position: absolute;
    animation: ldio-2aef71t07an linear 1s infinite;
    background: var.$primary-color;
    width: 1.2rem;
    height: 2.4rem;
    border-radius: 0.6rem / 1.2rem;
    transform-origin: 0.6rem 5.2rem;
}
.ldio-2aef71t07an div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: var.$primary-color;
}
.ldio-2aef71t07an div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: var.$primary-color;
}
.ldio-2aef71t07an div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: var.$primary-color;
}
.ldio-2aef71t07an div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: var.$primary-color;
}
.ldio-2aef71t07an div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: var.$primary-color;
}
.ldio-2aef71t07an div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: var.$primary-color;
}
.ldio-2aef71t07an div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: var.$primary-color;
}
.ldio-2aef71t07an div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: var.$primary-color;
}
.ldio-2aef71t07an div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: var.$primary-color;
}
.ldio-2aef71t07an div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: var.$primary-color;
}
.ldio-2aef71t07an div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: var.$primary-color;
}
.ldio-2aef71t07an div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: var.$primary-color;
}
.loadingio-spinner-spinner-t2bksd851ae {
    display: inline-block;
    overflow: hidden;
    background: transparent;
    width: 100%;
}
.ldio-2aef71t07an {
    width: 20rem;
    height: 20rem;
    margin: auto;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.ldio-2aef71t07an div {
    box-sizing: content-box;
}

