@use "../styles/variable.module.scss" as var;

.selected-training-info {
    padding: 1rem;
    span {
        display: block;
        font-size: 1.4rem;
        margin: 0.3rem 0;

        &.discount {
            color: var.$danger;
        }

        &.total {
            font-weight: bold;
            font-size: 1.6rem;
        }
    }
}

.form-submit-status {
    padding: 1rem;
    background-color: var.$white-color;
    border-radius: 1rem;
    text-align: center;

    p {
        text-align: center;
        margin-bottom: 2rem;
    }
}


